.secondSlide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 1024px;
  height: 768px;
}

.secondSlide .mainQuestion {
  position: absolute;
  color: #fff;
  left: 283px;
  top: 255px;
}

.ice_leftTop {
  left: 82px;
  top: 160px;
}

.ice_rightTop {
  right: 0;
  top: 36px;
}

.ice_leftBottom {
  left: 232px;
  top: 443px;
}

.ice_rightBottom {
  right: 248px;
  top: 591px;
}
