.firstSlide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 1024px;
  height: 768px;
}

.firstSlide .mainQuestion {
  position: absolute;
  left: 72px;
  top: 142px;
}

.goalMarker_position_top {
  top: 261px;
  left: 561px;
}

.goalMarker_position_left {
  top: 426px;
  left: 273px;
}

.goalMarker_position_right {
  top: 516px;
  right: 186px;
}
.goalMarker_position_bottom {
  top: 538px;
  left: 480px;
}
