.firstSlide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // position relative to force elements on the slide not move from their normal positions
  position: relative;
  width: 1024px;
  height: 768px;
}

.firstSlide .mainQuestion {
  position: absolute;
  left: 72px;
  top: 142px;
}
