.arrows {
  // filter: invert(1);
  width: 510px;
  height: 325px;

  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-drag: none; 
  user-select: none;
}
