.ice {
  position: absolute;
}

.ice_leftTop {
  width: 41px;
  height: 38px;
}

.ice_rightTop {
  width: 143px;
  height: 195px;
}

.ice_leftBottom {
  width: 103px;
  height: 101px;
}

.ice_rightBottom {
  width: 59px;
  height: 62px;
}

.ice_left {
  width: 33px;
  height: 39px;
}

.ice_right {
  width: 89px;
  height: 103px;
}

.ice_bottom {
  width: 184px;
  height: 177px;
}
