.goalMarker {
  border: 2px solid ; 
  border-radius: 50%;
  position: relative;
  border: 2px solid #d12034;
  font-family: LatoRegular, sans-serif;
  font-size: 20px;
}

@mixin pulsation($size, $number) {
  @keyframes pulsation#{$number} {
    from {
      width: 0;
      height: 0;
      opacity: 0.6;
      border: 2px solid transparent;
    }
    to {
      width: $size;
      height: $size;
      opacity: 0.3;
      border: 2px solid #d12034;
      
    }
  }
}

.goalMarker::after, .goalMarker::before {
  white-space: nowrap;
  display: inline-block;
  line-height: 20px;
  height: 20px;
  position: relative;
} 
