@import "fonts";
@import "./variables";

// Blocks and elements from the first slide
@import "./../../common.blocks/firstSlide/firstSlide";
@import "./../../common.blocks/mainQuestion";
@import "./../../common.blocks/goalMarker/goalMarker";
@import "./../../common.blocks/goalMarker/_position/goalMarker_position_top";
@import "./../../common.blocks/goalMarker/_position/goalMarker_position_left";
@import "./../../common.blocks/goalMarker/_position/goalMarker_position_right";
@import "./../../common.blocks/goalMarker/_position/goalMarker_position_bottom";
@import "./../../common.blocks/circle.scss";
@import "./../../common.blocks/goalMarker/goalMarker__firstCircle";
@import "./../../common.blocks/goalMarker/goalMarker__secondCircle";
@import "./../../common.blocks/goalMarker/goalMarker__thirdCircle";

// Block and elements from the second slide
@import "./../../common.blocks/secondSlide/secondSlide";
@import "./../../common.blocks/ice";

// Block and elements from the third slide
@import "./../../common.blocks/thirdSlide/thirdSlide";
@import "./../../common.blocks/thirdSlideQuestion";
@import "./../../common.blocks/arrows";
@import "./../../common.blocks/box/box.scss";
@import "./../../common.blocks/box/box__element.scss";
@import "./../../common.blocks/box/box__organ.scss";
@import "./../../common.blocks/box/box__betta.scss";
@import "./../../common.blocks/box/box__numberPoint.scss";
@import "./../../common.blocks/gradientBox.scss";
@import "./../../common.blocks/unenumeratedPoint.scss";

// Flipdown block
@import "./../../common.blocks/flipDown/flipDown";
@import "./../../common.blocks/flipDown/flipDown__littleBlur";
@import "./../../common.blocks/flipDown/flipDown__bigBlur";
@import "./../../common.blocks/flipDown/flipDown__arrowImg";

// StateBar block
@import "./../../common.blocks/stateBar/stateBar.scss";
@import "./../../common.blocks/stateBar/stateBar__slideNumber.scss";

// ViewWindow block
@import "./../../common.blocks/viewWindow.scss";

// SwipeAnimation block
@import "./../../common.blocks/swipeAnimation.scss";

// Add buttons for pc support
@import "./../../common.blocks/pcSupport/pcSupport.scss";
@import "./../../common.blocks/pcSupport/pcSupport__alert.scss";
@import "./../../common.blocks/pcSupport/pcSupport__button.scss";

// HideOverfilled block
@import "./../../common.blocks/hideOverfilled.scss";

*, *:before, *:after {
	box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "GothamPro", sans-serif;
  color: #0d319c;
  background-color: #4a59b8;
  overflow: hidden;
}

main {
  width: 1024px;
  height: 768px;
  position: relative;
  margin: 0 auto;
}
