@import "fonts";
@import "./variables";

// Blocks and elements from the first slide
@import "./../../common.blocks/firstSlide/firstSlide";
@import "./../../common.blocks/mainQuestion";
@import "./../../common.blocks/goalMarker/goalMarker";
@import "./../../common.blocks/goalMarker/_position/goalMarker_position_top";
@import "./../../common.blocks/goalMarker/_position/goalMarker_position_left";
@import "./../../common.blocks/goalMarker/_position/goalMarker_position_right";
@import "./../../common.blocks/goalMarker/_position/goalMarker_position_bottom";
@import "./../../common.blocks/circle.scss";
@import "./../../common.blocks/goalMarker/goalMarker__firstCircle";
@import "./../../common.blocks/goalMarker/goalMarker__secondCircle";
@import "./../../common.blocks/goalMarker/goalMarker__thirdCircle";

// Block and elements from the second slide
@import "./../../common.blocks/secondSlide/secondSlide";
@import "./../../common.blocks/ice";

*, *:before, *:after {
	box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "GothamPro", sans-serif;
  color: #0d319c;
}

main {
  width: 1024px;
}
