@import "fonts";
@import "./variables";

// Blocks and elements from the first slide
@import "./../../common.blocks/firstSlide/firstSlide";
@import "./../../common.blocks/mainQuestion";
@import "./../../common.blocks/goalMarker/goalMarker";
@import "./../../common.blocks/goalMarker/_position/goalMarker_position_top";
@import "./../../common.blocks/goalMarker/_position/goalMarker_position_left";
@import "./../../common.blocks/goalMarker/_position/goalMarker_position_right";
@import "./../../common.blocks/goalMarker/_position/goalMarker_position_bottom";
@import "./../../common.blocks/circle.scss";
@import "./../../common.blocks/goalMarker/goalMarker__firstCircle";
@import "./../../common.blocks/goalMarker/goalMarker__secondCircle";
@import "./../../common.blocks/goalMarker/goalMarker__thirdCircle";

// Flipdown block
@import "./../../common.blocks/flipDown/flipDown";
@import "./../../common.blocks/flipDown/flipDown__littleBlur";
@import "./../../common.blocks/flipDown/flipDown__bigBlur";
@import "./../../common.blocks/flipDown/flipDown__arrowImg";

// StateBar block
@import "./../../common.blocks/stateBar/stateBar.scss";
@import "./../../common.blocks/stateBar/stateBar__slideNumber.scss";

*, *:before, *:after {
	box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "GothamPro", sans-serif;
  color: #0d319c;
  // background-color: #24259a;
}

main {
  width: 1024px;
  position: relative;
  margin: 0 auto;
  overflow-y: hidden;
}
