.goalMarker_position_bottom {
  border: 1px solid #d12034;
  width: 14px;
  height: 14px;
  position: absolute;
}

.goalMarker_position_bottom .circle {
  @include pulsation(14px, 4);

  animation: pulsation4 2s linear infinite;
}

.goalMarker_position_bottom::before {
  content: "Осложнения СД";
  top: -36px;
  left: -112px;
} 
